* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightblue!important;
}

input[type='text'] {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
}

#main_text {
    padding: 0px 20px;
    text-align: center;
    position: relative;
}

#main {
    text-align: center;
}

#heading {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 300px) {
    #main {
        position: absolute;
        left: 10%;
        top: 100%;
        margin-top: 20px;
    }
}

.form-control {
    width: 99%!important;
}

#weather-form {
    margin-top: 11rem;
    padding: 20px;
    min-width: 75vw;
}

#find-the-weather {
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    padding: 10px;
}

.form-check {
    margin-left: 20px;
}

button {
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#message {
    color: red;
    margin-top: 10px;
}

#thank-you {
    color: red;
}

.navbar a {
    margin-left: 20px;
}

.navbar a:hover {
    color: #f1f1f1;
}

#error {
    padding: 10px;
    color: darkblue;
    font-weight: bold;
}

#refresh-message {
    margin-left: 180px;
    margin-top: 100px;
}

#assessment {
    margin: 10px;
    padding: 10px;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 18px;
}

#select-filters {
    margin: 0 auto;
    margin-top: 50px!important;
    display: none;
    margin-bottom: 20px;
    width: 60vw;
    background-color: lightcyan;
    border: 1px solid cyan;
    border-radius: 8px;
    box-shadow: 2px 2px 4px;
}

#weather-filter-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 70%;
    margin: 5px;
    margin-left: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: ivory;
    border: 1px solid ivory;
    border-radius: 8px;
}

#weather-filter-container .label {
    order: 1;
    color: navy;
    margin: 10px;
}

#weather-filter-container #weather-filter {
    order: 2;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

#no-filter-chosen {
    order: 3;
    display: none;
}

#weather-filter-container span {
    order: 4;
    align-self: center;
    margin-top: 20px;
}

.filter {
    border-radius: 8px;
    margin: 10px;
    display: none;
}

.field {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding: 10px;
}

.field .label {
    margin-bottom: 10px;
    font-weight: bold;
}

.field .input ul {
    list-style-type: none;
}

.field div {
    border-radius: 8px;
}

#cuisine-filter-container {
    order: 1;
    background-color: lightpink;
    border: 1px solid lightpink;
    padding: 5px;
    margin: 5px;
}

#meal-filter-container {
    order: 2;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    padding: 5px;
    margin: 5px;
}

#diet-filter-container {
    order: 3;
    background-color: lavender;
    border: 1px solid lavender;
    padding: 5px;
    margin: 5px;
}

#recipes-title {
    display: none;
    text-align: center;
    padding-top: 50px;
}

#apply {
    order: 4;
    align-self: flex-end;
    background-color: blue!important;
    color: white;
    box-shadow: 2px 2px 6px grey;
}

#recipe-container {
    padding: 0px 10px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.title {
    font-weight: bold;
}

.recipe-img {
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.recipe-weather-types {
    order: 3;
    margin-bottom: 100px;
}


/* Style for recipes page */

#all-recipes {
    text-align: center;
    margin-bottom: 50px;
}

#grid-container {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
    gap: 4px;
    justify-items: center;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: auto;
    margin: 5px;
    background-color: ivory;
    border: 1px solid ivory;
    border-radius: 8px;
}

.card-wrap {
    flex: 0 0 100%;
    display: flex;
    padding: 2px;
}

.card-title {
    order: 1;
    text-align: center;
    margin-top: 5px;
}

.card-img-top {
    order: 2;
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.card-body {
    order: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
}

.desc {
    order: 1;
    text-align: center;
    background-color: lightblue;
}

.food-types {
    order: 2;
    text-align: center;
}

.appropriate-weather {
    order: 3;
    margin-bottom: 100px;
}

.weather-button {
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    margin: 5px;
    cursor: default;
}

.card-footer {
    order: 4;
}

.attribution {
    order: 5;
    font-size: 10px;
    color: grey;
    font-style: oblique;
}

.error {
    text-align: center;
    display: none;
}