* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#main {
    text-align: center;
    padding-top: 100px;
    margin-left: 160px;
    margin-top: 100px;
    padding: 0px 10px;
}

input[type='text'] {
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
}

button {
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#message {
    color: red;
    margin-top: 10px;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#error {
    padding: 10px;
    color: darkblue;
    font-weight: bold;
}

#refresh-message {
    margin-left: 180px;
    margin-top: 100px;
}

#assessment {
    margin: 10px;
    padding: 10px;
    color: darkblue;
    background-color: lightblue;
}