* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightblue!important;
}

input[type='text'] {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
}

#main_text {
    margin-left: 160px;
    padding: 0px 10px;
}

.form-control {
    width: 99%!important;
}

#main {
    margin-top: 20px;
    text-align: center;
}

#weather-form {
    margin-top: 11rem;
    padding: 20px;
    min-width: 75vw;
}

#find-the-weather {
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    padding: 10px;
}

.form-check {
    margin-left: 20px;
}

button {
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#message {
    color: red;
    margin-top: 10px;
}

#thank-you {
    color: red;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    #main {
        width: 100vw!important;
        margin-left: 50px;
        background-color: lightblue;
        border: 1px solid lightblue;
    }
    .container {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 463px) {
    #main {
        background-color: lightblue;
        border: 1px solid lightblue;
    }
    .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#error {
    padding: 10px;
    color: darkblue;
    font-weight: bold;
}

#refresh-message {
    margin-left: 180px;
    margin-top: 100px;
}

#assessment {
    margin: 10px;
    padding: 10px;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 18px;
}

#select-filters {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    width: 60vw;
    background-color: white;
}

.filter {
    border-radius: 8px;
    margin: 10px;
}

.field {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding: 10px;
}

.field .label {
    margin-bottom: 10px;
    font-weight: bold;
}

.field .input ul {
    list-style-type: none;
}

.field div {
    border-radius: 8px;
}

#weather-filter-container {
    order: 1;
    background-color: lightyellow;
    border: 1px solid lightyellow;
    padding: 5px;
    margin: 5px;
}

#cuisine-filter-container {
    order: 2;
    background-color: lightpink;
    border: 1px solid lightpink;
    padding: 5px;
    margin: 5px;
}

#meal-filter-container {
    order: 3;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    padding: 5px;
    margin: 5px;
}

#diet-filter-container {
    order: 4;
    background-color: lavender;
    border: 1px solid lavender;
    padding: 5px;
    margin: 5px;
}

.field button {
    order: 5;
    align-self: flex-end;
    background-color: blue!important;
    color: white;
    box-shadow: 2px 2px 6px grey;
}

.card:nth-child(odd):last-of-type {}

#recipe-container {
    margin: auto;
    margin-left: 160px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
}

.top-recipe {
    margin: 10px;
    min-width: 20rem;
    padding: 20px;
}

.title {
    font-weight: bold;
}

.recipe-img {
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.recipe-weather-types {
    order: 3;
    margin-bottom: 100px;
}


/* Style for recipes page */

#all-recipes {
    text-align: center;
    margin-bottom: 50px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: baseline;
    align-items: flex-start;
}

.recipe-card {
    flex-grow: 1;
    flex-shrink: 1;
    width: 25rem;
    margin: 5px;
}

.pseudo-card {
    flex-grow: 1;
    flex-shrink: 1;
    width: 25rem;
    margin: 5px;
}

.card-title {
    text-align: center;
    margin-top: 5px
}

.card-img-top {
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: space-between;
}

.desc {
    order: 1;
    text-align: center;
    background-color: lightblue;
}

.food-types {
    order: 2;
    text-align: center;
}

.appropriate-weather {
    order: 3;
    margin-bottom: 100px;
}

.weather-button {
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    margin: 5px;
    cursor: default;
}

.posted-by {
    order: 4;
}

.attribution {
    order: 5;
    font-size: 10px;
    color: grey;
    font-style: oblique;
}

#pseudoelement {
    flex-grow: 1;
    flex-shrink: 1;
    width: 25rem;
    background-color: lightblue;
    border: 1px solid lightblue;
    margin: 5px;
}