* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightblue!important;
}

input[type='text'] {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
}

#main_text {
    margin-left: 160px;
    padding: 0px 10px;
}

.form-control {
    width: 99%!important;
}

#main {
    margin-top: 20px;
    text-align: center;
}

#weather-form {
    margin-top: 11rem;
    padding: 20px;
    min-width: 75vw;
}

#find-the-weather {
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    padding: 10px;
}

.form-check {
    margin-left: 20px;
}

button {
    padding: 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#message {
    color: red;
    margin-top: 10px;
}

#thank-you {
    color: red;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    #main {
        width: 100vw!important;
        margin-left: 50px;
        background-color: lightblue;
        border: 1px solid lightblue;
    }
    .container {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 463px) {
    #main {
        background-color: lightblue;
        border: 1px solid lightblue;
    }
    .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#error {
    padding: 10px;
    color: darkblue;
    font-weight: bold;
}

#refresh-message {
    margin-left: 180px;
    margin-top: 100px;
}

#assessment {
    margin: 10px;
    padding: 10px;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 18px;
}

.field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding: 10px;
}

.field .label {
    order: 1;
    margin-bottom: 10px;
    font-weight: bold;
}

.field .input {
    order: 2;
}

.field .input ul {
    list-style-type: none;
}

.card:nth-child(odd):last-of-type {}

#recipe-container {
    margin: auto;
    margin-left: 160px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
}

.top-recipe {
    margin: 10px;
    min-width: 20rem;
    padding: 20px;
}

.title {
    font-weight: bold;
}

.recipe-img {
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.recipe-weather-types {
    order: 3;
    margin-bottom: 100px;
}