* {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    /* Attribution: Photo by Jelleke Vanooteghem on Unsplash
    https://unsplash.com/photos/gnxb59lGU1M?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
    background-image: url(clouds.jpg);
    background-size: cover;
}

.header {
    margin-top: 20vh;
    text-align: start;
}

.input-form {
    margin-top: 6vh;
}

#submit-form {
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#submit-form .btn {
    margin: 40px;
}

input[type='text'] {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
}

#main_text {
    margin-top: 20vh;
    padding: 0px 20px;
    text-align: center;
    position: relative;
}

#main {
    text-align: center;
}

#heading {
    padding: 20px;
    text-align: center;
    margin-top: 120px;
    font-weight: bolder;
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 10px beige;
}

@media only screen and (max-width: 300px) {
    #main {
        position: absolute;
        left: 10%;
        top: 100%;
        margin-top: 20px;
    }
    #weather-filter-container {
        width: fit-content;
    }
}

.form-control {
    width: 99%!important;
}

#weather-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    width: fit-content;
}

#what-weather {
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    padding: 10px;
}

.form-check {
    margin-left: 20px;
}

#weather-field {
    padding: 5px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 8px;
    color: black;
}

.input-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.field[data-column="1"] {
    order: 1;
}

.field[data-column="2"] {
    order: 2;
}

.field[data-column="3"] {
    order: 3;
}

.field[data-column="4"] {
    order: 4;
}

button {
    padding: 0px 10px;
    border: 2px solid black;
    background: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#message {
    color: red;
    margin-top: 10px;
}

#thank-you {
    color: red;
}

nav {
    min-height: 100px;
    background-image: linear-gradient(black, grey);
    font-weight: bold;
}

nav span {
    color: seashell;
}

.navbar a {
    margin-left: 40px;
}

.navbar a:hover {
    color: #f1f1f1;
}

.submit-error {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: aqua;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid teal;
    border-radius: 8px;
    box-shadow: 2px 2px 2px;
}

#refresh-message {
    margin-left: 180px;
    margin-top: 100px;
}

#information {
    margin: 20px;
    padding: 20px;
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 8px;
    box-shadow: 2px 2px 10px seashell;
}

#assessment {
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
}

#select-filters {
    text-align: center;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    padding: 8px 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightcyan;
    border: 1px solid cyan;
    border-radius: 8px;
    box-shadow: 2px 2px 4px;
}

#weather-filter-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: ivory;
    border: 1px solid ivory;
    border-radius: 8px;
}

#weather-filter-container .label {
    order: 1;
    color: navy;
    margin: 10px;
}

#weather-filter-container #weather-filter {
    order: 2;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    padding: 10px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#no-filter-chosen {
    order: 3;
    display: none;
}

#weather-filter-container span {
    order: 4;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#weather-filter-container span button {
    margin: 10px;
}

.filter {
    border-radius: 8px;
    margin: 10px;
    display: none;
    min-width: 100%;
}

.recipe-filter {
    min-width: 100%;
    padding: 100px;
}

.recipes-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    padding: 100px;
}

.field {
    margin: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.field .label {
    margin-bottom: 10px;
    font-weight: bold;
}

.field .input ul {
    list-style-type: none;
}

.field div {
    border-radius: 8px;
}

#cuisine-filter-container {
    order: 1;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgoldenrodyellow;
    padding: 5px;
    margin: 5px;
}

#meal-filter-container {
    order: 2;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    padding: 5px;
    margin: 5px;
}

#diet-filter-container {
    order: 3;
    background-color: lavender;
    border: 1px solid lavender;
    padding: 5px;
    margin: 5px;
}

#recipes-title {
    display: none;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    font-weight: bold;
    padding: 10px;
    background-color: cyan;
    border: 1px solid cyan;
    border-radius: 8px;
    font-weight: bold;
}

#recipes-title h1 {
    font-weight: bold;
}

#submit-title {
    font-weight: bold;
    padding: 5px;
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 8px;
}

#apply {
    order: 4;
    align-self: center;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black!important;
    color: seashell;
    border: 2px solid red;
    box-shadow: 2px 2px 6px grey;
    font-weight: bold;
    margin-top: 20px;
}

#recipe-container {
    padding: 0px 10px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.title {
    font-weight: bold;
}

.recipe-img {
    padding: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.recipe-weather-types {
    order: 3;
    margin-bottom: 100px;
}


/* Style for recipes page */

#all-recipes {
    text-align: center;
    margin-bottom: 50px;
}

#grid-container {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
    gap: 4px;
    justify-items: center;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: auto;
    margin: 5px;
    background-color: lightblue!important;
    border: 1px solid lightblue!important;
    border-radius: 8px;
    box-shadow: 4px 4px 10px navy;
}

@media only screen and (max-width: 350px) {
    .recipe-card {
        justify-self: start;
        align-self: start;
        max-width: 12rem;
    }
    .recipe-filter {
        width: auto;
    }
}

.card-wrap {
    flex: 0 0 100%;
    display: flex;
    padding: 2px;
}

.card-title {
    order: 1;
    text-align: center;
    margin-top: 5px;
}

.card-img-top {
    order: 2;
    padding: 10px;
    width: 100%;
    max-height: 12rem;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.card-body {
    order: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
}

.desc {
    order: 1;
    text-align: center;
    background-color: lightblue;
}

.food-types {
    order: 2;
    text-align: center;
}

.appropriate-weather {
    order: 3;
    margin-bottom: 170px;
}

.weather-button {
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    margin: 5px;
    cursor: default;
}

.card-footer {
    order: 4;
}

.attribution {
    order: 5;
    font-size: 10px;
    color: grey;
    font-style: oblique;
}

.error {
    text-align: center;
    display: none;
    padding: 10px;
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 8px;
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: red;
}

.footer {
    position: absolute;
    bottom: 5px;
    max-height: 12rem;
    width: 100%;
    left: 0;
    padding: 20px;
}