{% extends 'core/layout.html' %}
{% load static %}
<!DOCTYPE html>

<html>
    <body>
        {% block div %}
            <div id="main">
                {% if get_data == "yes" %}
                    <input type="hidden" id="data-response"></input>
                {% else %}
                    <div id="weather-form">
                        <h1>What's the Weather?</h1>
                        <div>
                            <input type="text" name="city" id="city">
                            <br>
                            <div id="pick-weather-container">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="now" value="option1" checked>
                                    <label class="form-check-label" for="now">Now</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="later" value="option2">
                                    <label class="form-check-label" for="later">Later today</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tomorrow" value="option3">
                                    <label class="form-check-label" for="tomorrow">Tomorrow</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioUnitOptions" id="celsius" value="cels" checked>
                                    <label class="form-check-label" for="celsius">Celsius</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioUnitOptions" id="fahrenheit" value="fahr">
                                    <label class="form-check-label" for="fahrenheit">Fahrenheit</label>
                                </div>
                            </div>
                            <button id='submit-button' class="btn btn-light" value="Submit">Submit</button>
                        </div>
                    </div>
                    <footer>
                        <a href="https://icons8.com/icon/gZjuzZtAaWv6/no-image">No Image icon by Icons8</a>
                    </footer>
                {% endif %}
            </div>  
        {% endblock %}
    </body>
</html>