{% extends 'core/layout.html' %}
{% load static %}

{% block div %}

    <script src="{% static '/core/recipes_script.js'%}"></script>

    <div id="recipes-page-container">
        <div id='recipes-title'>
            <h1>Recipe Suggestions</h1>
        </div>
    
        <div id="weather-filter-container">
            <div class="label">
                <h3><b>Which Kind Of Weather Would You Like To Find Recipe Suggestions For?</b></h3>
            </div>
            <br>
            <div id="weather-filter" class="input">
                {% for checkbox in form.weather %}
                    {{ checkbox }}
                {% endfor %}
            </div>
            <div id="no-filter-chosen" class="error">
                <h4><b>Please select a filter!</b></h4>
            </div>
            <span>
                <button id="choose-weather" class="btn btn-danger">Apply Filters</button>
                <button id="choose-weather-all" class="btn btn-warning">View All Recipes</button>
            </span>
        </div>
        <button id="select-filters" class="btn btn-link">Select Filters</button>
        <div id='no-matches' class="error">
            <h4><b>No matches found. Try another search.</b></h4>
        </div>
        <div class="filter field">
            <div id="cuisine-filter-container" class="recipe-filter">
                <div class="label">
                    Cuisine:
                </div>
                <div id="cuisine-filter" class="input">
                    {% for checkbox in form.food_type %}
                        {% if forloop.counter != 1 %}
                            {{ checkbox }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="meal-filter-container" class="recipe-filter">
                <div class="label">
                    Type of Meal:
                </div>
                <div id="meal-filter" class="input">
                    {% for checkbox in form.meals %}
                        {% if forloop.counter != 1 %}
                            {{ checkbox }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="diet-filter-container" class="recipe-filter">
                <div class="label">
                    Diet:
                </div>
                <div id="diet-filter" class="input">
                    {% for checkbox in form.diets %}
                        {% if forloop.counter > 1 %}
                            {{ checkbox }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <button id="apply" class="btn btn-outline-dark">Apply Filters</button>
        </div>
    </div>
    <div id="grid-container">
        {% for recipe in recipes %}
            <div id="{{ forloop.counter }}" class="card recipe-card">
                <div class="card-title">
                    <h4><b>{{ recipe.title }}</b></h4>
                </div>
                <a href="{{ recipe.recipe }}"><img src="{{ recipe.image }}" class="card-img-top"></a>
                <div class="card-body">
                    <p class="desc">{{ recipe.description }}<p>
                    <div class="food-types">
                        <h6><b>Cuisine:</b></h6><h6 class="{{ recipe.food_type }}">{{ recipe.food_type }}</h6>
                        <h6><b>Specialised Diet:</b></h6><h6 class="{{ recipe.diets }}">{{ recipe.diets }}</h6>
                        <h6><b>Meal Time:</b></h6><h6 class="{{ recipe.meals }}">{{ recipe.meals }}</h6>
                    </div>
                    <h6 class="appropriate-weather"><b>Suited for:</b>
                        <ul id="weather-list{{ forloop.counter }}" class="list-inline">
                            {% for w in recipe.weather.all %}
                                <button class="weather-button list-inline-item">{{ w }}</button>
                            {% endfor %}
                        </ul>
                    </h6>
                    <div class="footer card-footer">
                        <h6 class="user">Posted by: <b>{{ recipe.user }}</b></h6>
                        <a href="{{ recipe.recipe }}" class="attribution attribution-text">Attribution: {{ recipe.recipe }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}