{% extends 'core/layout.html' %}
{% load static %}

{% block div %}

    <script src="{% static '/core/recipes_script.js'%}"></script>

    <div id="weather-filter-container">
        <div class="label">
            <h3><b>Which Kind Of Weather Would You Like To Find Recipe Suggestions For?</b></h3>
        </div>
        <br>
        <div id="weather-filter" class="input">
            {% for checkbox in form.weather %}
                {{ checkbox }}
            {% endfor %}
        </div>
        <span>
            <button id="choose-weather" class="btn btn-danger">Apply Filters</button>
            <button id="choose-weather-all" class="btn btn-warning">View All Recipes</button>
        </span>
    </div>
    <button id="select-filters" class="btn btn-link">Select Filters</button>
    <div class="filter field">
        <div id="cuisine-filter-container">
            <div class="label">
                Cuisine:
            </div>
            <div id="cuisine-filter" class="input">
                {% for checkbox in form.food_type %}
                    {% if forloop.counter != 1 %}
                        {{ checkbox }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="meal-filter-container">
            <div class="label">
                Type of Meal:
            </div>
            <div id="meal-filter" class="input">
                {% for checkbox in form.meals %}
                    {% if forloop.counter != 1 %}
                        {{ checkbox }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="diet-filter-container">
            <div class="label">
                Diet:
            </div>
            <div id="diet-filter" class="input">
                {% for checkbox in form.diets %}
                    {% if forloop.counter > 2 %}
                        {{ checkbox }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <button id="apply" class="btn btn-outline-dark">Apply Filter</button>
    </div>
    <div id="flex-container">
        {% for recipe in recipes %}
            <div id="{{ forloop.counter }}" class="card recipe-card" style="order: {{ forloop.counter}};">
                <div class="card-title">
                    <h4><b>{{ recipe.title }}</b></h4>
                </div>
                <a href="{{ recipe.recipe }}"><img src="{{ recipe.image }}" class="card-img-top"></a>
                <div class="card-body">
                    <p class="desc">{{ recipe.description }}<p>
                    <div class="food-types">
                        <h6><b>Cuisine:</b></h6><h6 class="{{ recipe.food_type }}">{{ recipe.food_type }}</h6>
                        <h6><b>Specialised Diet:</b></h6><h6 class="{{ recipe.diets }}">{{ recipe.diets }}</h6>
                        <h6><b>Meal Time:</b></h6><h6 class="{{ recipe.meals }}">{{ recipe.meals }}</h6>
                    </div>
                    <h6 class="appropriate-weather"><b>Suited for:</b>
                        <ul id="weather-list{{ forloop.counter }}" class="list-inline">
                            {% for w in recipe.weather.all %}
                                <button class="weather-button list-inline-item">{{ w }}</button>
                            {% endfor %}
                        </ul>
                    </h6>
                    <h6 class="posted-by">Posted by: <b>{{ recipe.user }}</b></h6>
                    <p class="attribution">Attribution: {{ recipe.recipe }}</p>
                </div>
            </div>
            <!-- Pseudoelement in order to shrink last card to the right size -->
            {% if forloop.last %}
                <div id="pseudoelement" class="card pseudo-card" style="order: {{ forloop.counter}};">
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}