{% extends "core/layout.html" %}


{% block div %}

    <h2 class="header">Register</h2>

    <form class="input-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="login-message">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
        <div class="form-group">
            <input class="form-control" type="text" name="user" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
        {% if message %}
            <div class="login-error">{{ message }}</div>
        {% endif %}
    </form>

{% endblock %}