{% extends 'core/layout.html' %}

{% block div %}
    <h1>Submit a Recipe</h1>
    <form action="{% url "submit" %}" method="POST">
        {% csrf_token %}
        <div class="field"> 
            <div class="label">
                Recipe title:
            </div>
            <div class="input">
                {{ form.title }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Brief description of recipe (why do you like it?):
            </div>
            <div class="input">
                {{ form.description }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Recipe URL:
            </div>
            <div  class="input">
                {{ form.recipe }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Image URL:
            </div>
            <div class="input">
                {{ form.image }}    
            </div>
        </div>
        <div class="field">
            <div class="label">
                Type of weather:
            </div>
            <div class="input">
                {{ form.weather }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Cuisine:
            </div>
            <div class="input">
                {{ form.food_type }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Dietary Restrictions:
            </div>
            <div class="input">
                {{ form.diets }}
            </div>
        </div>
        <div class="field">
            <div class="label">
                Type of Meal:
            </div>
            <div class="input">
                {{ form.meals }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit"></input>
    </form>
{% endblock %}